@charset "UTF-8";
/* LQ - Styles Custom  */
/*fonts*/
@font-face {
  font-family: 'pb-bold';
  src: url("../fonts/brandon/Brandon_bld.eot");
  src: local("☺"), url("../fonts/Brandon_bld.woff") format("woff"), url("../fonts/Brandon_bld.ttf") format("truetype"), url("../fonts/Brandon_bld.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pb-regular';
  src: url("../fonts/brandon/Brandon_reg.eot");
  src: local("☺"), url("../fonts/Brandon_reg.woff") format("woff"), url("../fonts/Brandon_reg.ttf") format("truetype"), url("../fonts/Brandon_reg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Film-icon';
  src: url("../fonts/Film-icon.eot?rufg47");
  src: url("../fonts/Film-icon.eot?rufg47#iefix") format("embedded-opentype"), url("../fonts/Film-icon.ttf?rufg47") format("truetype"), url("../fonts/Film-icon.woff?rufg47") format("woff"), url("../fonts/Film-icon.svg?rufg47#Film-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*styles*/
/* line 27, ../sass/custom.scss */
body {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7em;
  font-family: "pb-regular";
}

/* line 34, ../sass/custom.scss */
.gray-desc {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  line-height: 1.7em;
  font-family: "pb-regular";
}

/* line 40, ../sass/custom.scss */
.view-header {
  line-height: 1;
}

/* line 43, ../sass/custom.scss */
h1
h2,
h3,
h4,
h5,
h6 {
  font-family: "pb-bold";
}

/* line 51, ../sass/custom.scss */
h1 {
  font-family: "Playfair Display",serif;
}

/* line 54, ../sass/custom.scss */
a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

/* line 58, ../sass/custom.scss */
a:hover, a:focus {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

/* line 62, ../sass/custom.scss */
.views-field-title,
.title-bold-white {
  color: #fff;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-size: 1.875em;
}

/* line 69, ../sass/custom.scss */
.block h2,
.fl-title .fl-title-small {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 9px;
  display: block;
  position: relative;
  text-align: center;
  z-index: 120;
  font-family: "pb-bold";
  font-size: 16px;
  line-height: 1;
  /*overflow-x: hidden !important*/
}

/* line 82, ../sass/custom.scss */
.accueil_articles_web,
.accueil_balados {
  clear: both;
}

/* line 86, ../sass/custom.scss */
.fl-title .fl-title-small a,
.fl-title-desc a {
  color: rgba(0, 0, 0, 0.5);
}

/* line 91, ../sass/custom.scss */
.field--name-field-couverture {
  width: 100%;
}

/*accueil - cacher logos */
/* line 97, ../sass/custom.scss */
#block-md-filmmaker-footer #logo,
#block-md-filmmaker-account-menu #logo,
#block-md-filmmaker-main-menu #logo {
  display: none;
}

/* line 102, ../sass/custom.scss */
#primary_nav_wrap li {
  display: inline-block;
}

/* style.css */
/* Menus */
/* line 107, ../sass/custom.scss */
ul.active-menu-default {
  float: right;
  padding-right: 25px;
}

/* line 111, ../sass/custom.scss */
ul.active-menu-default > li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 15px 12px;
  list-style: none;
}

/* line 118, ../sass/custom.scss */
.menu-item a,
ul.active-menu-default li a,
ul.active-menu-default > li a {
  color: #a7a7a7;
}

/* line 123, ../sass/custom.scss */
ul.active-menu-default > li a {
  padding: 5px 15px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear 0ms;
  -khtml-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}

/* line 137, ../sass/custom.scss */
.views-field-path,
.more {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  font-family: "pb-bold";
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 10px;
  /*extra*/
  display: inline-block;
  margin-bottom: 1em;
}

/* line 152, ../sass/custom.scss */
.views-field-path a,
.more a {
  height: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.6);
  /**/
  padding-left: 1em;
  padding-right: 1em;
}

/* todo inverser couleur */
/* à venir */
/* line 163, ../sass/custom.scss */
.views-field-path i,
.more i {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.4);
}

/* line 168, ../sass/custom.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 176, ../sass/custom.scss */
.fa-long-arrow-right:before {
  content: "\f178";
}

/* articles web */
/* auteurs*/
/* line 183, ../sass/custom.scss */
.film-box > li .film-item .list-film-cat,
.view-liste-article-web .views-field-field-auteur,
.view-liste-article-web .views-field-created {
  margin-top: 20px;
}

/* line 189, ../sass/custom.scss */
.views-field-field-auteur,
.views-field-created,
.list-film-cat {
  font-family: "pb-bold";
  font-size: 0.75em;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

/* titres listes */
/* line 200, ../sass/custom.scss */
.fl-title-big {
  color: #000;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-size: 5.625em;
  display: block;
}

/* line 207, ../sass/custom.scss */
.fl-title .fl-title-big {
  margin-bottom: -50px;
  margin-top: -15px;
}

/* ARTICLE WEB - Node */
/* line 213, ../sass/custom.scss */
.article_web_content {
  margin-top: 5em;
  /* margin-top:250px;*/
}

/* line 217, ../sass/custom.scss */
.fl-detail-item .fl-detail-box {
  position: absolute;
  /*bottom: -285px;*/
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

/* line 227, ../sass/custom.scss */
.fl-detail-item .fl-detail-box .list-social li {
  color: rgba(255, 255, 255, 0.3);
  list-style: none;
  font-family: "pb-regular";
}

/* line 232, ../sass/custom.scss */
.fl-detail-item .fl-detail-box .list-social li a {
  color: rgba(255, 255, 255, 0.3);
  padding: 0 5px;
}

/* line 236, ../sass/custom.scss */
.fl-detail-item .fl-detail-box .list-social li:hover a {
  color: rgba(255, 255, 255, 0.7);
}

/* line 239, ../sass/custom.scss */
.fl-detail-item {
  min-height: 900px;
  position: relative;
}

/* line 243, ../sass/custom.scss */
.fl-detail-item .fl-detail-box {
  /*position: absolute;
  bottom: -285px;*/
  color: rgba(0, 0, 0, 0.7);
}

/* line 248, ../sass/custom.scss */
.fl-detail-box .fl-title {
  margin-top: 50px;
}

/* line 251, ../sass/custom.scss */
.fl-detail-box .tabs {
  min-height: inherit;
}

/* line 254, ../sass/custom.scss */
.fl-title .fl-title-medium {
  color: #000;
  font-family: "Playfair Display",serif;
  font-size: 3.125em;
  font-weight: 700;
  display: block;
}

/* line 261, ../sass/custom.scss */
.fl-title {
  position: relative;
  text-align: center;
  z-index: 120;
}

/* line 266, ../sass/custom.scss */
.fl-title.light .fl-title-small, .fl-title.light .fl-title-small a {
  color: rgba(255, 255, 255, 0.5);
}

/* line 269, ../sass/custom.scss */
.fl-title .fl-title-small {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 9px;
  display: block;
}

/* line 274, ../sass/custom.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 277, ../sass/custom.scss */
.fl-title.light .fl-title-big, .fl-title.light .fl-title-medium {
  color: #ddd;
}

/* line 280, ../sass/custom.scss */
.fl-detail-item {
  background-color: #999;
  /**/
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../../images/image-catoon.jpg);*/
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}

/* Custom */
/* line 290, ../sass/custom.scss */
.template_article_web .fl-title .fl-title-medium {
  line-height: 2;
}

/* ARTICLES REVUE - Node */
/* line 296, ../sass/custom.scss */
.fl-title span div {
  display: inline;
}

/* line 299, ../sass/custom.scss */
.node--type-article-revue .fl-title .fl-title-big {
  margin-bottom: 0;
  margin-top: 0;
  display: block;
  clear: both;
  line-height: 1.5;
}

/* line 306, ../sass/custom.scss */
.left-desc {
  text-transform: uppercase;
  font-size: 1.25em;
  color: #000;
  line-height: 1.7em;
  font-family: "pb-bold";
  text-align: left;
}

/* line 314, ../sass/custom.scss */
.fl-mg-top {
  text-align: right;
}

/* custom */
/*.node--type-article-revue .field--name-field-resume {
  padding-top: 4em;
  padding-bottom: 4em;
}*/
/* ajouter .node-balado .field-chapeau */
/*CAHIER*/
/* line 327, ../sass/custom.scss */
.node--type-cahier .fl-title {
  line-height: 1.75;
}

/*
.node--type-cahier .field--name-field-type-cahier {
  text-transform: uppercase;
}*/
/* line 334, ../sass/custom.scss */
.field-numero-referent {
  padding-bottom: 2em;
  display: block;
}

/* line 338, ../sass/custom.scss */
.node--type-galerie .fl-title-desc {
  padding-bottom: 2em;
}

/* CAHIER - VUE EVA */
/* line 344, ../sass/custom.scss */
.content-blog-item a {
  color: #000;
}

/* min 1170*/
/* line 348, ../sass/custom.scss */
.content-blog-item .title-blog {
  padding: 10px 50px 10px 70px;
  font-size: 30px;
}

/* line 352, ../sass/custom.scss */
.content-blog-item .title-blog {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  color: rgba(0, 0, 0, 0.8);
}

/* line 357, ../sass/custom.scss */
.content-blog-item .new-date {
  line-height: 25px;
  text-align: center;
  position: relative;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

/*min 1170*/
/* line 367, ../sass/custom.scss */
.content-blog-item .new-date {
  -webkit-transform: translateX(-50%) translateY(30%);
  -ms-transform: translateX(-50%) translateY(30%);
  transform: translateX(-50%) translateY(30%);
}

/* line 372, ../sass/custom.scss */
.content-blog-item {
  padding: 40px 0;
}

/* line 375, ../sass/custom.scss */
.content-blog-item {
  font-family: "Playfair Display",serif;
  position: relative;
}

/* line 379, ../sass/custom.scss */
.view-blog {
  margin-top: 0;
}

/* cahier: info sous le titre*/
/* line 383, ../sass/custom.scss */
.content-blog-item .view-point {
  padding-top: 10px;
  font-size: 14px;
}

/* line 387, ../sass/custom.scss */
.content-blog-item .view-point .fa-eye {
  opacity: 0.4;
  padding: 0 10px 0 0;
}

/* line 391, ../sass/custom.scss */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 399, ../sass/custom.scss */
.content-blog-item .view-point b {
  color: rgba(0, 0, 0, 0.8);
  padding: 0 5px;
  font-family: "pb-bold";
}

/* line 404, ../sass/custom.scss */
.content-blog-item .view-point .fa-comment-o {
  opacity: 0.4;
  padding: 0 0px 0 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

/* line 409, ../sass/custom.scss */
b, strong {
  font-weight: 700;
}

/* MOUSEOVER*/
/*1170*/
/* line 415, ../sass/custom.scss */
.content-blog-item:hover .title-blog, .content-blog-item:active .title-blog, .content-blog-item:focus .title-blog {
  padding: 10px 80px 10px 40px;
  border-left: 5px solid #000;
}

/* line 419, ../sass/custom.scss */
.content-blog-item:hover .title-blog, .content-blog-item:active .title-blog, .content-blog-item:focus .title-blog {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  color: #000;
}

/* line 424, ../sass/custom.scss */
.content-blog-item a:hover {
  text-decoration: none;
}

/* titre sur image */
/* line 430, ../sass/custom.scss */
.view-cahier-vs-publication {
  margin-top: 50px;
}

/* cahier*/
/* line 435, ../sass/custom.scss */
.film-style-odd {
  width: 100%;
}

/* line 438, ../sass/custom.scss */
[class^="film-"], [class*=" film-"] {
  font-family: 'fontfilm';
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  /* font-size: 120%; */
}

/* line 445, ../sass/custom.scss */
.film-style-odd li {
  display: table;
  width: 100%;
}

/* line 449, ../sass/custom.scss */
.film-style-odd li:nth-child(2n+1) .film-odd-img {
  float: right;
}

/* line 452, ../sass/custom.scss */
.film-style-odd li:nth-child(2n) .film-odd-img {
  float: left;
}

/* line 455, ../sass/custom.scss */
.film-style-odd li .film-odd-content,
.film-style-odd li .film-odd-img {
  width: 50%;
}

/* line 459, ../sass/custom.scss */
.film-style-odd li .film-odd-img {
  position: relative;
  overflow: hidden;
  background: #000;
}

/* line 464, ../sass/custom.scss */
.film-style-odd li .film-odd-img img {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  width: 100%;
  height: auto;
}

/* line 472, ../sass/custom.scss */
.ac_page-wrapper img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

/* line 478, ../sass/custom.scss */
.film-odd-view {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  top: 60%;
}

/* line 498, ../sass/custom.scss */
.film-style-odd li:nth-child(2n+1) .film-odd-content {
  float: left;
  text-align: right;
  padding-right: 40px;
  padding-left: 20%;
}

/* line 504, ../sass/custom.scss */
.film-style-odd li:nth-child(2n) .film-odd-content {
  float: right;
  text-align: left;
  padding-left: 40px;
  padding-right: 20%;
}

/* line 511, ../sass/custom.scss */
.film-style-odd li .film-odd-content, .film-style-odd li .film-odd-img {
  width: 50%;
  min-height: 400px;
  /* image manquante */
}

@media only screen and (min-width: 1170px) {
  /* line 516, ../sass/custom.scss */
  .film-odd-content {
    padding-top: 100px;
  }
}
/* line 520, ../sass/custom.scss */
.film-odd-content .p-category {
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: "pb-bold";
}

/* line 525, ../sass/custom.scss */
.film-odd-content .p-name {
  padding: 12px 0 10px 0;
  font-size: 1.875em;
  line-height: 30px;
}

/* line 530, ../sass/custom.scss */
.film-odd-content .p-name a {
  font-family: "Playfair Display",serif;
  font-weight: 700;
  color: #000;
}

/* line 535, ../sass/custom.scss */
.film-odd-content .p-desc {
  font-family: "pb-regular";
  margin-top: -4px;
  line-height: 1.5em;
}

/* BALADO */
/* line 541, ../sass/custom.scss */
.node--type-balados .fieldset-wrapper > div {
  display: inline-block;
  margin-right: 20px;
}

/* line 545, ../sass/custom.scss */
.field--name-field-balado {
  text-align: center;
  margin: 1em 0;
}

/* line 549, ../sass/custom.scss */
.field--name-field-balado audio {
  width: 100%;
}

/*
.node--type-balados .field-audio {
  text-align:center;
}
*/
/*
balado DETAILS : GRID 
insert into ac-column column-c464 ac_col-xl-3 ac_col-lg-3 ac_col-md-3 ac_col-sm-6 ac_col-12

<div class="ac-counter">
<div class="counter-value" data-from="0" data-to="249" data-speed="1000">
<span>249</span>
</div>
<div class="counter-title">COMPLETED PROJECTS</div>
</div>
*/
/* line 572, ../sass/custom.scss */
.counter-content, .ac-counter {
  font-size: 16px;
  text-align: center;
}

/* line 576, ../sass/custom.scss */
.ac-counter {
  text-align: center;
}

/*1170*/
/* line 580, ../sass/custom.scss */
.counter-content .counter-digit, .counter-value {
  font-size: 50px;
}

/* line 583, ../sass/custom.scss */
.counter-content .counter-digit, .counter-value {
  color: #000;
}

/* line 586, ../sass/custom.scss */
.counter-value {
  font-size: 40px;
  line-height: 40px;
  margin: 10px 0;
}

/* line 591, ../sass/custom.scss */
.counter-content .counter-desc, .counter-title {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  font-weight: 700;
}

/* line 599, ../sass/custom.scss */
.counter-title, .counter-description {
  min-height: 0;
  margin-bottom: 10px;
}

/*galerie*/
/* line 606, ../sass/custom.scss */
.node--type-galerie .fl-title {
  clear: both;
  min-height: 100px;
  /*temp*/
}

/* line 610, ../sass/custom.scss */
.fl-title-desc {
  text-align: center;
  clear: both;
}

/* line 615, ../sass/custom.scss */
.fl-title-desc {
  margin-top: 70px;
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  font-size: 18px;
}

/* line 621, ../sass/custom.scss */
.field-resume-galerie {
  text-align: center;
}

/* line 625, ../sass/custom.scss */
.fl-title .fl-title-big {
  color: #000;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-size: 5.625em;
  margin-bottom: -50px;
  margin-top: -15px;
  display: block;
}

/* collaborateur */
/* line 636, ../sass/custom.scss */
.team-avatar {
  margin-top: 30px;
  padding-right: 15px;
  display: inline-block;
}

/* line 641, ../sass/custom.scss */
.team-avatar .thumb-team {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}

/* line 646, ../sass/custom.scss */
.team-avatar .thumb-team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

/* line 653, ../sass/custom.scss */
.info-team {
  margin-top: 30px;
}

/* line 656, ../sass/custom.scss */
.info-team .title-member {
  margin-bottom: 20px;
}

/* line 659, ../sass/custom.scss */
.info-team .title-member .jobs {
  text-transform: lowercase;
  font-style: italic;
  font-family: "pb-bold";
}

/* line 664, ../sass/custom.scss */
.info-team .title-member h3 {
  margin-top: 50px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
  font-size: 2.1875em;
  font-weight: bold;
  line-height: 1.1;
  font-family: "pb-bold";
}

/* ouvrage critiqué */
/* line 676, ../sass/custom.scss */
.direct-container {
  padding-top: 120px;
}

/* line 679, ../sass/custom.scss */
.view-article-vs-ouvrage-critique {
  clear: both;
  padding-top: 200px;
  /*temp*/
}

/* eva editorial sur publication */
/* custom */
/* line 686, ../sass/custom.scss */
.editorial_sur_publication {
  padding-top: 5em;
  /*temp*/
  padding-bottom: 5em;
  /*temp*/
}

/* line 691, ../sass/custom.scss */
.node--type-article-revue .section-c125 {
  margin-top: 4em;
  margin-bottom: 4em;
  display: inline-block;
}

/* champs imprimés dans les templates - fermer les originaux */
/* line 698, ../sass/custom.scss */
.article_web_content .field--name-field-auteur,
.article_web_content .field--name-field-image-couverture-paysage,
.article_web_content .field--name-field-sous-titre,
.article_web_content .field--name-field-type-article,
.node--type-article-revue .node__content .field--name-field-resume,
.node--type-article-revue .node__content .field--name-field-auteur,
.node--type-article-revue .node__content .field--name-field-sous-titre,
.node--type-article-revue .node__content .field--name-field-type-article,
.node--type-article-revue .node__content .field--name-field-cahier-referent,
.node--type-article-revue .node__content .field--name-field-genre,
.node--type-article-revue .node__content .field--name-field-thematique,
.node--type-cahier .node__content .field--name-field-type-cahier,
.node--type-balados .node__content .field--name-field-sous-titre,
.node--type-collaborateur .node__content .field--name-field-portrait,
.node--type-collaborateur .node__content .field--name-field-prenom,
.node--type-collaborateur .node__content .field--name-field-nom,
.node--type-collaborateur .node__content .field--name-field-statut-collaborateur,
.node--type-collaborateur .node__content .field--name-body,
.node--type-ouvrage-critique .field--name-field-couverture-ouvrage,
.node--type-galerie .node__content .field--name-field-sous-titre,
.node--type-galerie .node__content .field--name-field-auteur,
.node--type-galerie .node__content .field--name-field-resume,
.node--type-galerie .node__content .field--name-field-numero-referent,
.node--type-publication .field--name-field-resume,
.node--type-publication .field--name-field-periode-publication,
.node--type-publication .field--name-field-date-publication {
  display: none;
}

/*.node--type-collaborateur .node__content .field--name-field-liens-externes*/
/*#block-md-filmmaker-page-title .field--name-title {
  display: none;
}*/
/* line 734, ../sass/custom.scss */
.node--type-article-web .field-sous-titre,
.node--type-article-web .field-auteur {
  display: block;
}

/* ouvrage critiqué*/
/* infos */
/* supprimer si les classes sont ajoutes sur les champs d'ouvrage critique*/
/* line 741, ../sass/custom.scss */
.crew-desc > div {
  display: block;
}

/* header */
/* line 746, ../sass/custom.scss */
.site-name {
  display: none;
}

/* line 749, ../sass/custom.scss */
.site-logo img {
  max-width: 90px;
  height: auto;
}

/* line 753, ../sass/custom.scss */
#block-md-filmmaker-branding {
  float: left;
}

/* line 756, ../sass/custom.scss */
#block-md-filmmaker-main-menu {
  float: right;
  width: 90%;
}

/* Accueil - Positionnement temporaire */
/* line 763, ../sass/custom.scss */
.block-views-blockaccueil-edito-block-1 {
  width: 50%;
  padding-right: 2em;
  float: left;
}

/* line 768, ../sass/custom.scss */
.block-views-blockaccueil-publications-block-1 {
  width: 50%;
  padding-left: 2em;
  float: right;
}

/* line 773, ../sass/custom.scss */
div.region.region-footer,
div.region.region-footer ul.menu {
  text-align: center;
}

/* positionner au dessus du header */
/* line 778, ../sass/custom.scss */
#block-reseauxsociauxlq p {
  display: inline;
}

/* line 781, ../sass/custom.scss */
#block-reseauxsociauxlq,
.block-views-exposed-filter-blockenvironnement-recherche-general-page-1 {
  float: right;
}

/* positionner footer*/
/* line 786, ../sass/custom.scss */
.region-footer ul.menu li a {
  display: inline-block;
}

/* line 789, ../sass/custom.scss */
#block-md-filmmaker-footer {
  float: left;
  width: 30%;
}

/* line 793, ../sass/custom.scss */
#block-logosfooter {
  float: right;
  width: 70%;
}

/* line 797, ../sass/custom.scss */
#block-copyright {
  clear: both;
}

@media only screen and (min-width: 1170px) {
  /*.ac_page-wrapper img,
  .timeline-box img {
      max-width: 100%;
      height: auto;
      border: 0;
      vertical-align: middle;
  }*/
  /* line 811, ../sass/custom.scss */
  .timeline-box {
    position: relative;
    width: 100%;
    padding: 0 50px;
  }

  /* line 816, ../sass/custom.scss */
  .timeline-box li {
    display: table;
    position: relative;
    width: 100%;
    padding-bottom: 140px;
  }

  /* line 822, ../sass/custom.scss */
  .timeline-box .d-even {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: #000;
    position: absolute;
  }

  /* line 837, ../sass/custom.scss */
  .timeline-box .d-content,
  .timeline-box .d-even,
  .timeline-box .d-img {
    margin-top: 20px;
  }

  /* line 842, ../sass/custom.scss */
  .timeline-box li:nth-child(odd) .d-img {
    float: right;
    padding-left: 50px;
    text-align: left;
  }

  /* line 847, ../sass/custom.scss */
  .timeline-box li:nth-child(even) .d-img {
    float: left;
    padding-right: 50px;
    text-align: right;
  }

  /*.timeline-box li:nth-child(even) .d-img img {
      width: 100%;
  }*/
  /* line 855, ../sass/custom.scss */
  .timeline-box li .d-content, .timeline-box li .d-img {
    width: 50%;
  }

  /* line 858, ../sass/custom.scss */
  .timeline-box .d-content, .timeline-box .d-even, .timeline-box .d-img {
    margin-top: 20px;
  }

  /*.timeline-box li .d-img img {
      width: 100%;
      height: auto;
  }*/
  /*.ac_page-wrapper img {
      max-width: 100%;
      height: auto;
      border: 0;
      vertical-align: middle;
  }*/
  /* line 871, ../sass/custom.scss */
  .timeline-box li:nth-child(odd) .d-content {
    float: left;
    text-align: right;
    padding-right: 50px;
  }

  /* line 876, ../sass/custom.scss */
  .timeline-box li:nth-child(even) .d-content {
    float: right;
    text-align: left;
    padding-left: 50px;
  }

  /* line 881, ../sass/custom.scss */
  .title-gray {
    letter-spacing: 9px;
  }

  /* line 884, ../sass/custom.scss */
  .title-gray {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-family: "pb-bold";
  }

  /* line 889, ../sass/custom.scss */
  .title-time {
    font-size: 50px;
  }

  /* line 892, ../sass/custom.scss */
  .title-time {
    padding: 0;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #000;
  }
}
@media only screen and (min-width: 768px) {
  /* line 901, ../sass/custom.scss */
  .timeline-page-box:before {
    left: 52.1%;
    /* temp */
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
}
/* line 910, ../sass/custom.scss */
.publication_titre {
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* Responsive @media */
/* mobile */
/* col-xs // 0-768 */
/* col-sm // 768-992 */
/* col-md // 992-1200 */
/* col-lg 1200+ */
/* écrans larges */
