/* LQ - Styles Custom  */
/*fonts*/
@font-face {
  font-family: 'pb-bold';
  src: url("../fonts/brandon/Brandon_bld.eot");
  src: local("☺"), url("../fonts/Brandon_bld.woff") format("woff"), url("../fonts/Brandon_bld.ttf") format("truetype"), url("../fonts/Brandon_bld.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pb-regular';
  src: url("../fonts/brandon/Brandon_reg.eot");
  src: local("☺"), url("../fonts/Brandon_reg.woff") format("woff"), url("../fonts/Brandon_reg.ttf") format("truetype"), url("../fonts/Brandon_reg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Film-icon';
  src: url("../fonts/Film-icon.eot?rufg47");
  src: url("../fonts/Film-icon.eot?rufg47#iefix") format("embedded-opentype"), url("../fonts/Film-icon.ttf?rufg47") format("truetype"), url("../fonts/Film-icon.woff?rufg47") format("woff"), url("../fonts/Film-icon.svg?rufg47#Film-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Styles*/
body {
  color: rgba(0,0,0,0.5);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7em;
  font-family: "pb-regular";
}
.text-center {
  text-align: center;
}
.gray-desc {
  color: rgba(0,0,0,0.5);
  font-weight: 400;
  line-height: 1.7em;
  font-family: "pb-regular";
}
.view-header {
	line-height: 1;
}
h1
h2,
h3,
h4,
h5,
h6 {
  font-family: "pb-bold";
}
h1 {
    font-family: "Playfair Display",serif;
}
a {
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}
a:hover, a:focus {
  color: rgba(0,0,0,0.5);
  text-decoration: underline;
}
/* Images Responsive par défaut, traiter les exceptions */
img {
  max-width: 100%;
  height: auto;
}
/**
* Classes générales
*/
.uppercase {
  text-transform: uppercase;
}
.shadow {
  text-shadow: 0.1em 0.1em 0.2em black;
}
.text-shadow {
  text-shadow: -1px 1px 0 white;
}

/* */
.views-field-field-auteur,
.views-field-field-individu,
.views-field-created,
.list-film-cat {
  font-family: "pb-bold";
  font-size: 0.75em;
  letter-spacing: 5px;
  color: rgba(0,0,0, 0.5);
  text-transform: uppercase;
}

/* titres listes */
.fl-title-big {
  color: #000;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-size: 48px;
  display: block;
}
/* Gros titres: éviter chevauchements */
.fl-title-big {
  line-height: 1;
}
.fl-title .fl-title-big {
/*  margin-bottom: -50px;
  margin-top: -15px; */
  margin-bottom: 0;
  margin-top: 0;
}
.fl-title .fl-title-big {
  color: #000;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-size: 48px;
 /* margin-bottom: -50px;
  margin-top: -15px;*/
  display: block;
  text-shadow: -1px 1px 0 white;
}
.views-field-title,
.title-bold-white,
.view-environnement-recherche-general .views-field-name-2 {
  color: #fff;
  font-family: "Playfair Display",serif;
  font-weight: 700;
  font-size: 20px;
}
.views-field-title {
  color: #000;
}

.block h2,
.fl-title .fl-title-small,
.view-editorial-vs-publication header .fl-title-small {
  color: rgba(0,0,0,0.5);
  letter-spacing: 9px;
  display: block;
  position: relative;
  text-align: center;
  z-index: 120;
  font-family: "pb-bold";
  font-size: 16px;
  line-height: 1;
  /*overflow-x: hidden !important*/
}
.view-editorial-vs-publication header .fl-title-small {
  text-transform: uppercase;
  padding-bottom: 40px;
}
.fl-title.light .fl-title-small, 
.fl-title.light .fl-title-small a {
  color: rgba(255, 255, 255, 0.5);
}
.fl-title .fl-title-small {
  color: rgba(0,0,0,0.5);
  letter-spacing: 9px;
  display: block;
}
.fl-title .fl-title-small a,
.fl-title-desc a {
  color: rgba(0,0,0,0.5);
}
.accueil_articles_web,
.accueil_balados {
  clear: both;
}

.field--name-field-couverture {
  width: 100%;
}

/* Marge au-dessus du premier contenu */
.view-editorial-vs-publication,
.node--type-cahier {
  padding-top: 80px;
}
/**
* Accueil - cacher logos
*/
#block-md-filmmaker-footer #logo,
#block-md-filmmaker-account-menu #logo,
#block-md-filmmaker-main-menu #logo {
	display: none;
}
#primary_nav_wrap li {
	display: inline-block;
}

/**
* Menus
*/


ul.active-menu-default {
  float: right;
}
ul.active-menu-default > li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 15px 12px 0;
  list-style: none;
}
.menu-item a,
ul.active-menu-default li a,
ul.active-menu-default > li a {
  color: #a7a7a7;
  font-family: pb-bold;
}
ul.active-menu-default > li a,
.region-footer ul.menu li a {
  padding: 5px 15px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear 0ms;
  -khtml-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}
.menu-item a:hover,
ul.active-menu-default li a:hover,
ul.active-menu-default > li a:hover {
  color: #a7a7a7;
  font-family: pb-bold;
  text-decoration: none;
}
ul.active-menu-default > li:hover a,
ul.active-menu-default > li a:focus,
ul.active-menu-default > li a:active {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    background: none;
}

/**
* Header
*/
.site-name {
  display: none;
}
.site-logo img {
  max-width: 90px;
  height: auto;
}
#block-md-filmmaker-branding {
  float: left;
  padding-top:10px;
}
#block-md-filmmaker-main-menu {
  float: right;
  width: 90%;
}
.region-header {
  .form-item, .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
  .form--inline .form-item {
    margin-right: 0;
  }
}

/**
* Accueil 
*/
.block-views-blockaccueil-edito-block-1 {
  width: 50%;
  padding-right: 2em;
  float: left;
}
.block-views-blockaccueil-publications-block-1 {
  width: 50%;
  padding-left: 2em;
  float: right;
}

/* positionner au dessus du header */
#block-reseauxsociauxlq p {
  display: inline;
}
#block-reseauxsociauxlq,
.block-views-exposed-filter-blockenvironnement-recherche-general-page-1 {
  float: right;
}
#block-reseauxsociauxlq,
.block-views-exposed-filter-blockenvironnement-recherche-general-page-1,
#block-cart {
  padding-top: 21px;
}
#edit-submit-environnement-recherche-general {
  top: 24px;
}


/**
* Pagers
*/
.pager__items {
  margin-bottom: 0;
}
.pager {
  margin: 80px 0 0;
}

/**
* Footer
*/
/* Marge principale entre footer et contenu */
footer {
  margin-top: 80px;
}
div.region.region-footer,
div.region.region-footer ul.menu {
  text-align: center;
}
.region-footer ul.menu li a {
  display: inline-block;
}
#block-md-filmmaker-footer {
  float: left;
  width: 50%;
}
#block-logosfooter {
  float: right;
  width: 50%;
  margin-bottom: 50px;
}
#block-copyright {
  clear: both;
}



.views-field-path,
.more {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  font-family: "pb-bold";
  font-weight: 400;
  color: rgba(0,0,0,0.6);
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 10px;
  /*extra*/
  display: inline-block;
  margin-bottom: 1em;
}
.views-field-path a,
.more a {
  height: 40px;
  line-height: 40px;
  color: rgba(0,0,0,0.6);
  /**/
  padding-left: 1em;
  padding-right: 1em;
}

.views-field-path:hover,
.more:hover {
/* inclus la flèche */
  color: #fff;
  background: #000;
}
.views-field-path:hover a,
.more:hover a {
/* inclus le lien */
  color: #fff;
}

.views-field-path i,
.more i {
  padding-left: 10px;
  color: rgba(0,0,0,0.4);
}
.views-field-path:hover i,
.more:hover i {
  color: rgba(255,255,255,0.9);
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-long-arrow-right:before {
    content: "\f178";
}


/**
* Liste Balados
*/
[class^="film-"], [class*=" film-"] {
    font-family: 'fontfilm';
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
}
.film-box {
    width: 100%;
    display: table;
    list-style: none;
    /* Compenser la dernière rangée, dont la marge est déclarée sur li.text-center */
    margin-bottom: -40px;
}
.ac_page-wrapper img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}
.list-film-name {
    font-size: 30px;
    font-weight: 700;
    margin: 5px 0 10px 0;
    line-height: 1;
}
.list-film-name a {
    color: #000;
    font-family: "Playfair Display", serif;
}
.list-film-desc {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    font-family: "pb-regular";
    font-size: 0.875em;
    color: rgba(255, 255, 255, 0.7);
}
.film-box > li .fl-mg-top {
    margin-top: 20px;
    margin-bottom: 5px;
}
.film-box > li {
    float: left;
    padding-right: 20px;
    padding-left: 0;
}
/*.film-box > li.text-center {
  margin-bottom: 40px;
}*/
.film-box > li:nth-child(2n) {
    float: right;
    padding-left: 20px;
    padding-right: 0;
}
.film-box > li:nth-child(2n+1) {
    clear: both;
}

@media only screen and (min-width: 768px) {
  .film-box > li {
      width: 50%;
  }
  .film-item {
      background: #000;
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
  }
  .film-box > li .film-item {
      padding-bottom: 40px;
      height: auto;
      background: none;
      &:last-child {
        padding-bottom: 0;
      }
  }

}


@media only screen and (min-width: 1025px) {
  .film-box > li .film-item {
      float: right;
  }

  .film-box > li .list-film-cat {
      font-size: 0.75em;
      letter-spacing: 5px;
  }

  .film-box > li .list-film-desc {
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
  }

  .menu-default {
    .toggle-nav, .close-menu {
      display: none;
    }
  }

}
@media only screen and (min-width: 1170px) {
  .film-box > li .film-item {
      width: 65%;
  }
  .film-box > li .film-item img {
      width: 100%;
      height: auto;
  }

  .film-box > li .film-item .list-film-cat {
      margin-top: 20px;
  }

  .film-box > li .film-item .list-film-desc {
      color: rgba(0, 0, 0, 0.5);
      padding: 0 70px;
  }

}

li.text-center {
  list-style: none;
  margin: 0 0 40px 0;
}

/* animation */

.film-box > li .film-item.big .fl-mg-top .more a, .film-box > li .film-item.big .fl-mg-top .more, .film-box > li .film-item.big .fl-mg-top .more:hover i, .film-box > li .film-item.big .fl-mg-top .more i {
    color: #000;
}
.film-box > li .film-item.big .fl-mg-top .more {
    background-color: #fff;
}
.film-box > li .film-item.big:hover .list-film-desc {
    opacity: 0;
}
.film-box > li .film-item.big:hover .fl-mg-top {
    opacity: 1;
    top: 80%;
}
.film-box > li .film-item.big:hover .fl-mg-top {
    opacity: 1;
    top: 80%;
}
.film-box > li .film-item.big .fl-mg-top {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    top: 100%;
    opacity: 0;
}

/**
* LISTE ARTICLE WEB
* (SIMILAIRE À BALADO, mais utilisation de la classe .big pour texte sur photos)
*/

@media only screen and (min-width: 1170px) {
.film-box > li .film-item.big {
    width: 100%;
    margin-bottom: 0;
}

.film-box > li .film-item.big {
}

  .film-box.big .list-film-content {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  }
  /* pas d'encart sur articles web (vs balado) */
  .film-box.big > li .film-item .list-film-desc {
      padding: 0 0px;
  }


}
/* inverser texte sur photo */
.big .list-film-content,
.big .list-film-cat,
.big .list-film-name a,
.big .list-film-desc p {
  color: #fff;
}
.big .list-film-cat,
.big .list-film-desc {
  color: rgba(255,255,255,0.9);
}

/* fix articles web (vs balado) */
.film-box > li .film-item img {
  width: 100%;
  height: auto;
}
.film-box > li .film-item {
  width: 100%;
  padding: 0px;
  float: left;
}
.view-liste-article-web .view-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
/* Compenser marge de la dernière rangée déclarée par li.text-center */
.film-box.big {
  margin-bottom: -40px;
}

/**
* LISTE GALERIES
*/

/* todo: remplacer par cols? */
.ac_col-xs, .ac_col-xs-1, .ac_col-xs-2, .ac_col-xs-3, .ac_col-xs-4, .ac_col-xs-5, .ac_col-xs-6, .ac_col-xs-7, .ac_col-xs-8, .ac_col-xs-9, .ac_col-xs-10, .ac_col-xs-11, .ac_col-xs-12, .ac_col-sm, .ac_col-sm-1, .ac_col-sm-2, .ac_col-sm-3, .ac_col-sm-4, .ac_col-sm-5, .ac_col-sm-6, .ac_col-sm-7, .ac_col-sm-8, .ac_col-sm-9, .ac_col-sm-10, .ac_col-sm-11, .ac_col-sm-12, .ac_col-md, .ac_col-md-1, .ac_col-md-2, .ac_col-md-3, .ac_col-md-4, .ac_col-md-5, .ac_col-md-6, .ac_col-md-7, .ac_col-md-8, .ac_col-md-9, .ac_col-md-10, .ac_col-md-11, .ac_col-md-12, .ac_col-lg, .ac_col-lg-1, .ac_col-lg-2, .ac_col-lg-3, .ac_col-lg-4, .ac_col-lg-5, .ac_col-lg-6, .ac_col-lg-7, .ac_col-lg-8, .ac_col-lg-9, .ac_col-lg-10, .ac_col-lg-11, .ac_col-lg-12, .ac_col-xl, .ac_col-xl-1, .ac_col-xl-2, .ac_col-xl-3, .ac_col-xl-4, .ac_col-xl-5, .ac_col-xl-6, .ac_col-xl-7, .ac_col-xl-8, .ac_col-xl-9, .ac_col-xl-10, .ac_col-xl-11, .ac_col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.z10 {
    z-index: 10;
}

@media (min-width: 576px) {
  .ac_container {
      width: 540px;
      max-width: 100%;
  }
 }
@media (min-width: 768px){
  .ac_container {
      width: 720px;
      max-width: 100%;
  }
}
@media (min-width: 992px){
  .ac_container {
      width: 960px;
      max-width: 100%;
  }
}
@media (min-width: 1200px){
  .ac_container {
      width: 1140px;
      max-width: 100%;
  }
}
.ac_row {
  margin-right: -15px;
  margin-left: -15px;
}
.ac_col-xl-6 {
  float: left;
  width: 50%;
}
/*TODO: remplacer par cols */
@media (min-width: 576px) {
  .ac_col-sm-12 {
      float: left;
     /* width: 100%;*/
  }
}

.ac_element {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.ac-image {
  display: inline-block;
  margin-bottom: 20px;
}
.view-liste-equipe {
  .ac-image {
    margin-bottom: 0px;
  }
}

.ac_page-wrapper img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

.ac-wrapper-page-9 .el-text-c491 .ac-text {
  font-size: 19px;
  line-height: 34px;
  color: #000000;
  padding-top: 120px;
}
/* Fixs */
.column-c514 {
  padding-top: 100px;
}
/* full width == center */
.column-c457  {
  width: 100%;
}


/**
* Auteurs / Bottin
*/
.film-box > li .film-item .list-film-cat,
.view-liste-article-web .views-field-field-auteur,
.view-liste-article-web .views-field-created {
    margin-top: 20px;
}
.ac_element {
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}
.crew-container {
    overflow: hidden;
    position: relative;
    margin: 0;
}
.crew-container img {
    width: 100%;
    height: auto;
}
.ac_page-wrapper img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

/* crew mouseover overlay */
@media only screen and (min-width: 768px) {
  .fl-olay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: 1;
      top: 0;
  }
}
.crew-container .fl-olay {
    background: rgba(0, 0, 0, 0.9);
}

@media only screen and (min-width: 1025px) {
  .crew-container .fl-olay {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 1025px) {
  .crew-container:hover .fl-olay {
      opacity: 1;
  }
}

/* crew mouseover container */
.crew-container .crew-content {
    text-align: center;
    width: 100%;
    padding: 0 45px;
    z-index: 2;
}

@media only screen and (min-width: 1025px) {
  .crew-container .crew-content {
      position: absolute;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 60%;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      opacity: 0;
      color: #fff;
  }
}

@media only screen and (min-width: 1025px) {
  .crew-container:hover .crew-content {
      top: 50%;
      opacity: 1;
  }
}

/* crew mouseover content */
.crew-container .crew-content .crew-name {
    font-size: 1.875em;
}

.crew-name {
    font-family: "Playfair Display", serif;
    font-weight: 700;

}
.crew-name a {
      /*extra*/
    color: #fff;
}

.crew-container .crew-content .crew-active {
    font-size: 0.75em;
    margin-top: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.crew-active {
    font-family: "pb-bold";
    font-size: 0.75em;
    letter-spacing: 1px;
}
.crew-container .crew-content .crew-desc {
    color: rgba(255, 255, 255, 0.7);
}

/* optionnel */
.crew-desc {
    margin-top: 30px;
    font-family: "pb-regular";
    font-size: 1em;
    line-height: 1.5em;
}
/* optionnel */
.crew-social .social {
    background: #4e4e4e;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}
.social {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    margin-top: 25px;
    margin-right: 8px;
}
.crew-social .social a {
    color: #fff;
}
[class^="md-"], [class*=" md-"] {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    /* font-size: 120%; */
}
.md-facebook {
}
.md-twitter {
}
.md-google {
}

.archive-sidebar {
  padding-top: 80px;
  .edit-actions {
    margin: 0;
    position: absolute;
    right: 0;
  }
  .form-item, .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/**
* ARTICLE WEB - Node
*/

.article_web_content {
  margin-top: 5em;
  /* margin-top:250px;*/
}
.fl-detail-item .fl-detail-box {
  position: absolute;
  /*bottom: -285px;*/
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}
.fl-detail-item .fl-detail-box .list-social li {
  color: rgba(255, 255, 255, 0.3);
  list-style: none;
  font-family: "pb-regular";
}
.fl-detail-item .fl-detail-box .list-social li a {
  color: rgba(255, 255, 255, 0.3);
  padding: 0 5px;
}
.fl-detail-item .fl-detail-box .list-social li:hover a {
  color: rgba(255, 255, 255, 0.7);
}
.fl-detail-item {
  min-height: 900px;
  position: relative;
}
.fl-detail-item .fl-detail-box {
/*position: absolute;
bottom: -285px;*/
  color: rgba(0,0,0,0.7);
}
.fl-detail-box .fl-title {
  margin-top: 50px;
}
.fl-detail-box .tabs {
  min-height: inherit;
}
.fl-title .fl-title-medium {
  color: #000;
  font-family: "Playfair Display",serif;
  font-size: 3.125em;
  font-weight: 700;
  display: block;
}
.fl-title {
  position: relative;
  text-align: center;
  z-index: 120;
}
.fl-title.light .fl-title-big, 
.fl-title.light .fl-title-medium {
  color: #ddd;
}
.fl-detail-item {
  background-color: #999; /**/
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../../images/image-catoon.jpg);*/
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  position: relative;
}
/* Custom */
.template_article_web .fl-title .fl-title-medium {
  line-height: 2;
}
/* todo autres médias */
.article_web_content .entete_gauche,
.article_web_content .entete_droite,
.article_web_content .field--name-field-ref-audio {
	padding-bottom: 50px; /*temp*/
}


/* ARTICLES REVUE - Node */
.fl-title span div {
  display: inline;
}
.left-desc {
  text-transform: uppercase;
  font-size: 1.25em;
  color: #000;
  line-height: 1.7em;
  font-family: "pb-bold";
  text-align: left;
}

.node--type-article-revue {
   .fl-title .fl-title-big {
 /*   margin-bottom: 0;
    margin-top: 0;*/
    display: block;
    clear: both;
    line-height: 1.5;
  }
  .fl-mg-top {
    text-align: right;
    /*center*/
  }
  .field--name-body {
    text-align: left;
  }
  .fl-title {
    padding-top: 80px;
  }
}


/* ajouter .node-balado .field-chapeau */

/**
* CAHIER 
*/
.node--type-cahier {
  /* Indenter titre sur image */
  .fl-title .fl-title-big {
    margin-bottom: -50px;
    margin-top: -15px;
    padding-top:0;
    padding-bottom:0;
  }
  .field-type-cahier {
    padding-bottom: 20px;
  }
  .node__content {
    margin-top:30px;
  }
}

/* Reporter */


.page-node-type-balados .page-title {
  display:none;
}

.node--type-balados {
  .fl-title {
  line-height: 1.75;
  }
  .fl-title span div {
    display: block;
  }
  .field-sur-titre {
    padding-bottom: 20px;
    padding-top: 80px;
  }
  .node__content {
    margin-top:30px;
  }

}


/*
.node--type-cahier .field--name-field-type-cahier {
  text-transform: uppercase;
}*/
.field-numero-referent {
  padding-bottom: 2em;
  display: block;
}

/* CAHIER - VUE EVA */
.content-blog-item a {
  color: #000;
}
/* min 1170*/
.content-blog-item .title-blog {
  padding: 10px 50px 10px 70px;
/*  font-size: 30px;*/
}
.article-cahier-titre {
  font-size: 30px;
  padding-bottom: 0.5em
}
.article-cahier-auteur {
  text-transform: uppercase;
  font-weight: bold;
}
.article-cahier-soustitre {}
.article-cahier-categorie {}

.content-blog-item .title-blog {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  color: rgba(0,0,0,0.8);
}
.content-blog-item .new-date {
  line-height: 25px;
  text-align: center;
  position: relative;
  color: rgba(0,0,0,0.4);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
/*min 1170*/
.content-blog-item .new-date {
  -webkit-transform: translateX(-50%) translateY(30%);
  -ms-transform: translateX(-50%) translateY(30%);
  transform: translateX(-50%) translateY(30%);
}
.content-blog-item {
  padding: 40px 0;
}
.content-blog-item {
  font-family: "Playfair Display",serif;
  position: relative;
}
.view-blog {
  margin-top: 0;
}
/* cahier: info sous le titre

*/
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
b, strong {
    font-weight: 700;
}

/* MOUSEOVER*/
/*1170*/
.content-blog-item:hover .title-blog, .content-blog-item:active .title-blog, .content-blog-item:focus .title-blog {
  padding: 10px 80px 10px 40px;
  border-left: 5px solid #000;
}
.content-blog-item:hover .title-blog, .content-blog-item:active .title-blog, .content-blog-item:focus .title-blog {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  color: #000;
}
.content-blog-item a:hover {
	text-decoration: none;
}


/* Cahier sur publication  */
.view-cahier-vs-publication {
  margin-top: 50px;
  .film-odd-view {
    display: none;
  }
}

/* Cahier */
.film-style-odd {
  width: 100%;
  clear: both;
}
[class^="film-"], [class*=" film-"] {
  font-family: 'fontfilm';
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  /* font-size: 120%; */
}
.film-style-odd li {
  display: table;
  width: 100%;
}
.film-style-odd li:nth-child(2n+1) .film-odd-img {
  float: right;
}
.film-style-odd li:nth-child(2n) .film-odd-img {
  float: left;
}
.film-style-odd li .film-odd-content,
.film-style-odd li .film-odd-img {
  width: 50%;
}
.film-style-odd li .film-odd-img {
  position: relative;
  overflow: hidden;
  background: #000;
}
.film-style-odd li .film-odd-img img {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  width: 100%;
  height: auto;
}
.ac_page-wrapper img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
.film-odd-view {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  top: 60%;
}
.film-style-odd li:nth-child(2n+1) .film-odd-content {
  float: left;
  text-align: right;
  padding-right: 40px;
  padding-left: 0%;
}
.film-style-odd li:nth-child(2n) .film-odd-content {
  float: right;
  text-align: left;
  padding-left: 40px;
  padding-right: 20%;
}
.film-style-odd li .film-odd-content, .film-style-odd li .film-odd-img {
  width: 50%;
}

@media only screen and (min-width: 1170px) {
  .film-odd-content {
    padding-top: 100px;
  }
}
.film-odd-content {
  .p-category {
    font-size: 0.75em;
    text-transform: uppercase;
    font-family: "pb-bold";
  }
  .p-name {
    padding: 12px 0 10px 0;
    font-size: 1.875em;
    line-height: 30px;
    a {
      font-family: "Playfair Display",serif;
      font-weight: 700;
      color: #000;
      }
  }
  .p-desc {
    font-family: "pb-regular";
    margin-top: -4px;
    line-height: 1.5em;
  }
}

.page-node-type-publication {
  .more {
    margin-bottom: 80px;
    a {
      position: relative;
      z-index: 1;
    }
  }
  .left-desc {
    font-family: "Playfair Display",serif;
    font-weight: 700;
    color: #000;
    text-align: right;
  } 
}

/**
* BALADO 
*/
.field--name-field-balado {
  text-align: center;
  margin: 1em 0;
}
.field--name-field-balado audio {
  width: 100%;
    text-align:center;
}
.field--name-field-ref-audio audio {
	  width: 100%;
}
/*
.node--type-balados .field-audio {
  text-align:center;
}
*/


/*
balado DETAILS : GRID
insert into ac-column column-c464 ac_col-xl-3 ac_col-lg-3 ac_col-md-3 ac_col-sm-6 ac_col-12

<div class="ac-counter">
<div class="counter-value" data-from="0" data-to="249" data-speed="1000">
<span>249</span>
</div>
<div class="counter-title">COMPLETED PROJECTS</div>
</div>
*/

.counter-content, .ac-counter {
  font-size: 16px;
  text-align: center;
}
.ac-counter {
  text-align: center;
}
/*1170*/
.counter-content .counter-digit, .counter-value {
  font-size: 50px;
}
.counter-content .counter-digit, .counter-value {
  color: #000;
}
.counter-value,
 .groupe-details .field__label {
  font-size: 40px;
  line-height: 40px;
  margin: 10px 0;
}
@media only screen and (min-width: 1170px) {
  .counter-content .counter-digit,
  .counter-value,
  .groupe-details .field__label {
    font-size: 20px;
  }
}

  .groupe-details  .field__items {}
.counter-content .counter-desc,
.counter-title {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(0,0,0,0.5);
  margin-top: 5px;
  font-weight: 700;
}
.counter-title, .counter-description {
  min-height: 0;
  margin-bottom: 10px;
}

/**
* Noeud Galerie
*/
.node--type-galerie .fl-title-desc {
  padding-bottom: 2em;
}
.node--type-galerie .fl-title {
  clear: both;
  min-height: 100px; /*temp*/
}
.fl-title-desc {
  text-align: center;
  clear: both;
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  font-size: 18px;
}
.field-resume-galerie {
  text-align: center;
}
.node--type-galerie {
  .fl-title .fl-title-big {
/*    margin-top: 35px;
    margin-bottom: 0;
    line-height: 0.9;*/
  }
  .field--name-body {
    padding-bottom: 80px;
  }
  .field--name-field-auteur {
    text-transform: uppercase;
    font-family: pb-bold;
  }
  .fl-title-big {
    padding-top: 80px;
  }
}


/**
* Noeud Collaborateur 
*/
.team-avatar {
  margin-top: 30px;
  padding-right: 15px;
  display: inline-block;
}
.team-avatar .thumb-team {
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}
.team-avatar .thumb-team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.info-team {
  margin-top: 30px;
}
.info-team .title-member {
  margin-bottom: 20px;
}
.info-team .title-member .jobs {
  text-transform: lowercase;
  font-style: italic;
  font-family: "pb-bold";
}
.info-team .title-member h3 {
  margin-top: 50px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
  font-size: 2.1875em;
  font-weight: bold;
  line-height: 1.1;
  font-family: "pb-bold";
}

/* eva editorial sur publication */
.editorial_sur_publication {

}

.node--type-article-revue .section-c125 {
  margin-top: 4em;
  margin-bottom: 4em;
  display: inline-block;
}


/* Collaborateurs : Réseaux Sociaux (icônes) */

.page-node-type-collaborateur .view-eva {
	padding: 2em 0;
}
/* collabos social icons - CSS */
.fa a::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.paragraph--type--liens-externes a::before {
  content: "\f121";
  padding-right: 1em;
}
.paragraph--type--liens-externes a[href*="instagram.com"]::before {
  content: "\f16d";
  padding-right: 1em;
}
.paragraph--type--liens-externes a[href*="facebook.com"]::before {
  content: "\f09a";
  padding-right: 1em;
}
.paragraph--type--liens-externes a[href*="twitter.com"]::before {
  content: "\f099";
  padding-right: 1em;
}
.field--name-field-liens-externes a {}
.field--name-field-url-leslibraires {
	clear: both;
}
.field--name-field-liens-externes .field--item {
  display: inline-block;
}

/* champs imprimés dans les templates - fermer les originaux */
.article_web_content .field--name-field-auteur,
.article_web_content .field--name-field-resume,
.article_web_content .field--name-field-thematique,
.article_web_content .field--name-field-genre,
.article_web_content .field--name-field-image-couverture-paysage,
.article_web_content .field--name-field-sous-titre,
.article_web_content .field--name-field-type-article,
.node--type-article-revue .node__content .field--name-field-resume,
.node--type-article-revue .node__content .field--name-field-auteur,
.node--type-article-revue .node__content .field--name-field-sous-titre,
.node--type-article-revue .node__content .field--name-field-type-article,
.node--type-article-revue .node__content .field--name-field-cahier-referent,
.node--type-article-revue .node__content .field--name-field-genre,
.node--type-article-revue .node__content .field--name-field-thematique,
.node--type-article-revue .node__content .field--name-field-auteur-article-papier,
.node--type-cahier .node__content .field--name-field-type-cahier,
.node--type-balados .node__content .field--name-field-sous-titre,
.node--type-collaborateur .node__content .field--name-field-portrait,
.node--type-collaborateur .node__content .field--name-field-prenom,
.node--type-collaborateur .node__content .field--name-field-nom,
.node--type-collaborateur .node__content .field--name-field-statut-collaborateur,
.node--type-collaborateur .node__content .field--name-body,
.node--type-ouvrage-critique .field--name-field-couverture-ouvrage,
.node--type-ouvrage-critique .crew-desc .view-article-vs-ouvrage-critique,
.node--type-galerie .node__content .field--name-field-sous-titre,
.node--type-galerie .node__content .field--name-field-auteur,
.node--type-galerie .node__content .field--name-field-resume,
.node--type-galerie .node__content .field--name-field-numero-referent,
.node--type-publication .field--name-field-resume,
.node--type-publication .field--name-field-periode-publication,
.node--type-publication .field--name-field-date-publication,
.node--type-publication .node__content .field--name-field-image-couverture-paysage,
.node--type-publication .node__content .field--name-field-date-publication-numero {
  display: none;
}
.article_web_content .entete_gauche .field--name-field-resume,
.article_web_content .entete_droite .field--name-field-thematique,
.article_web_content .entete_droite .field--name-field-genre {
	display: block;
}

/*.node--type-collaborateur .node__content .field--name-field-liens-externes*/

/*#block-md-filmmaker-page-title .field--name-title {
  display: none;
}*/

.node--type-article-web .field-sous-titre,
.node--type-article-web .field-auteur {
  display: block;
}

/**
* ouvrage critiqué 
* Comparer Ouvrage sur Article Papier VS Ouvrage standalone
*/
.direct-container {
  padding-top: 120px;
}
.page-node-type-article-revue {
  .direct-container {
  padding-top: 0;
}
}
.node--view-mode-ouvrage-critique-article-revue {
  .node__content {
    clear: both;
  }
}

.view-article-vs-ouvrage-critique {
  clear: both;
}
/* infos */
/* supprimer si les classes sont ajoutes sur les champs d'ouvrage critique*/
.crew-desc > div {
  display: block;
}
/* ouvrage critiqué - 5 étoiles - icone seulement  */
.taxonomy-term h2 {
  display: none;
}
/* Titre des vues EVA sous le contenu */
.view-article-vs-ouvrage-critique {
  text-align: center;
  text-transform: uppercase;
  font-family: pb-bold;
  margin-top: 80px;
}
.view-article-vs-ouvrage-critique .views-row {
  text-align: left;
  text-transform: initial;
  font-family: pb-bold;
  padding-top: 80px;
}
/* colonne de gauche, avec image à droite*/
.team-member-detail-2 > div:first-child {
  text-align: right;
  padding-bottom: 80px;
}
.field--name-field-ouvrage-critique .field__label {
  text-align: center;
  font-family: pb-bold;
  text-transform: uppercase;
  padding-bottom: 1em;
}


/**
* Accueil timeline box - publications 
*/
.item-list ul.timeline-box,
.item-list ul.timeline-box li {
    margin: 0;
    padding: 0 0 80px;
    &:last-child {
      padding-bottom: 0;
    }
}

@media only screen and (min-width: 1170px) {
  /*.ac_page-wrapper img,
  .timeline-box img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
  }*/
  .timeline-box {
    position: relative;
    width: 100%;
    padding: 0 50px;
  }
  .timeline-box li {
    display: table;
    position: relative;
    width: 100%;
    padding-bottom: 140px;
  }
  .timeline-box .d-even,
  .page-node-type-collaborateur .views-row-odd::before,
   .page-node-type-collaborateur .views-row-even::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: #000;
    position: absolute;
  }
    .page-node-type-collaborateur .views-row-odd::before,
   .page-node-type-collaborateur .views-row-even::before  {
     content: "";
     /*margin-top: 20px;*/
   }

  .timeline-box .d-content,
  .timeline-box .d-even,
  .timeline-box .d-img {
    margin-top: 20px;
  }
  .timeline-box li:nth-child(odd) .d-img {
    float: right;
    padding-left: 50px;
    text-align: left;
  }
  .timeline-box li:nth-child(even) .d-img {
    float: left;
    padding-right: 50px;
    text-align: right;
  }
  /*.timeline-box li:nth-child(even) .d-img img {
    width: 100%;
  }*/
  .timeline-box li .d-content, .timeline-box li .d-img {
    width: 50%;
  }
  .timeline-box .d-content, .timeline-box .d-even, .timeline-box .d-img {
    margin-top: 20px;
  }
  /*.timeline-box li .d-img img {
    width: 100%;
    height: auto;
  }*/
  /*.ac_page-wrapper img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
  }*/
  .timeline-box li:nth-child(odd) .d-content {
    float: left;
    text-align: right;
    padding-right: 50px;
  }
  .timeline-box li:nth-child(even) .d-content {
    float: right;
    text-align: left;
    padding-left: 50px;
  }


  .title-gray {
    letter-spacing: 9px;
  }
  .title-gray {
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-family: "pb-bold";
  }
  .title-time {
    font-size: 50px;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #000;
    }
}

.timeline-box li {
  padding-bottom: 70px;
  &:last-child {
    padding-bottom: 0;
  }
}


.title-time {
  line-height: 1.4; /* contexte: liste publications */
}

@media only screen and (min-width: 768px) {

/*
Ligne centrale sur publications avec point flottant
(modèle: History)
*/
  .timeline-page-box:before {
    left: 50%;
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
}
.publication_titre {
  text-align: center;
  letter-spacing: 6px;
  padding-bottom: 80px;
  padding-top: 80px;
  font-family: pb-bold;
  text-transform: uppercase;
}

#block-md-filmmaker-page-title .page-title {
  text-align: center;
  letter-spacing: 6px;
  padding-bottom: 80px;
  padding-top: 80px;
  font-family: pb-bold;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin-top:0;
  margin-bottom:0;
}

/* todo: add body class for article-web
#block-md-filmmaker-page-title,
#block-md-filmmaker-breadcrumbs {
	display: none;
}
*/

/* Temp */
#edit-search-api-fulltext  {
	line-height: 1;
}
#edit-submit-environnement-recherche-general,
#edit-submit-environnement-recherche-bottin {
  width: 24px;
  height: 24px;
  border-radius: 0;
  border: none;
  background: #ccc;
  float: right;
  vertical-align: top;
  position: absolute;
  top: 2px;
  right: 0px;
}
#edit-submit-environnement-recherche-bottin {
  right: 0;
}

/**
* RECHERCHE
**/
.view-environnement-recherche-general {
  .views-row {
    padding-bottom: 2em;
    &:last-child{
      padding-bottom: 0;
    }
  }
}
.view-environnement-recherche-bottin {
   .views-row {
    padding-bottom: 30px;
    &:last-child{
      padding-bottom: 0;
    }
  }
  .views-view-grid {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.form-item-search-api-fulltext {
  width: 100%;
  input {
    width: 100%;
  } 
}

/**************
* Accueil Articles web (1+3)
*/
 .cus-item-big {
    padding-bottom: 56.4%;
    height: 0;
}

/*
* LARGE SLIDE
*/
 @media only screen and (min-width: 768px) {
  .cus-item-4 {
      overflow: hidden;
  }

  .film-item {
      background: #000;
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
  }
  .center {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  }
}

.title-white {
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-family: "pb-bold";
}
.centertxt {
    width: 100%;
    text-align: center;
}


[class^="film-"], [class*=" film-"] {
    font-family: 'fontfilm';
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    /* font-size: 120%; */
}

/* TITRES */


.title-bold-white {
    color: #fff;
    font-family: "Playfair Display",serif;
    font-weight: 700;
}

@media only screen and (min-width: 1170px) {
  .title-bold-white {
      padding: 0px 0 10px 0;
      font-size: 1.875em;
  }
  .cus-item-big .title-bold-white {
      font-size: 50px;
      line-height: 50px;
  }
  .list-film .film-item .title-bold-white a {
      color: #fff;
      line-height: 40px;
  }
}


/* DESCRIPTION */
.list-film .film-item .white-desc {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    margin-top: 0px;
}
@media only screen and (min-width: 500px) {
  .white-desc {
      font-size: 0.875em;
  }
}
@media only screen and (min-width: 1170px) {
  .white-desc {
      line-height: 1.7em;
      }
  .list-film .film-item .white-desc {
      padding: 0 25%;
  }
}
.white-desc {
    color: rgba(255,255,255,0.5);
    font-family: "pb-regular";
}



/* LIEN PLUS */

.fl-viewmore .more-white {
    border: 1px solid rgba(255,255,255,0.5);
}
.more-white {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    font-family: "pb-bold";
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 13px 20px 13px 25px;
    font-size: 10px;
    display: inline-block;
    line-height: 0;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
}
.more-white i {
    padding-left: 6px;
    color: rgba(255,255,255,0.7);
}


/**
* SMALL SLIDES
*/
.list-film img {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.film-item img {
    width: 100%;
    height: auto;
}
.ac_page-wrapper img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .cus-item-4 {
      overflow: hidden;
  }

  .film-item {
      background: #000;
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
  }

  .title-white {
      font-size: 0.75em;
      letter-spacing: 5px;
  }
}

.cus-item-small .title-bold-white {
    margin-top: 10px;
}

@media only screen and (min-width: 1170px) {
  .cus-item-small .title-bold-white {
      font-size: 20px;
  }

  .title-bold-white {
      padding: 0px 0 10px 0;
      font-size: 1.875em;
  }

}

.list-film .film-item .white-desc {
    opacity: 1;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    margin-top: 0px;
}
.cus-item-small .white-desc, .cus-item-small .fl-viewmore {
    display: none;
}
@media only screen and (min-width: 768px) {
  .list-film .film-item .fl-viewmore {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      top: 80%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
  }
}
.list-film .film-item .fl-viewmore {
    padding-top: 10px;
}
.cus-item-small .white-desc,
.cus-item-small .fl-viewmore {
    display: none;
}


/***
* mouseover
*/


.list-film .film-item:hover img {
    background: rgba(0,0,0,0.5);
    opacity: 1;
}
.cus-item-4 {
  line-height: 1.25;
  a {
    color: #fff;
  }
  .views-field-field-image-couverture-paysage {}
  .views-field-title,
  .views-field-field-auteur {
    padding-left: 10%;
    padding-right: 10%;
    color: #fff;
  }
  .views-field-field-auteur {
    padding-top: 1em;
  }
}

.cus-item-4:hover .views-field-field-image-couverture-paysage {
  margin-bottom: -120px;
}

.cus-item-big {}
.cus-item-small {
  .views-field-title {
    font-size: 18px; /* réduction arbitraire */
  }
}

/* Distinguer auteurs et dates dans les surtitres */
.list-film-cat-auteur {
  font-size:16px;
  padding-bottom: 0.5em;
}
.list-film-cat-date {
  font-size:12px;
}



/* Fermer sections - tout sauf page statique
 à venir: .path-collaborateurs
 */
.page-node-type-article-web,
.page-node-type-article-revue,
.page-node-type-galerie,
.page-node-type-publication,
.page-node-type-collaborateur,
.page-node-type-cahier,
.page-node-type-ouvrage-critique,
.path-publications,
.path-articles-web,
.path-balados,
.path-galeries,
.path-bottin,
.path-equipe,
 {
  #block-md-filmmaker-page-title,
  #block-md-filmmaker-breadcrumbs {
    display: none;
  }
}


/**
* NOEUD ARTICLE WEB
*/
.page-node-type-article-web {
/* Flotter TABS sur contenu avec image vedette */
  .region-content {
    position: relative;
  }
  nav.tabs {
    position: absolute;
    z-index: 1;
  }
  .field--name-field-auteur {
    font-size:16px;
    padding-bottom: 1em;
  }
  .field-image-couverture-paysage {
    margin-top: 1em;
  }
  .field-sous-titre {
    margin-bottom: 1em;
  }
}
.field--name-field-thematique {
  text-align: right;
}



/* ACCUEIL - TITRES */
.path-frontpage h1.page-title {
  display: none;
}
.block-views-blockaccueil-edito-block-1 h2,
.block-views-blockaccueil-publications-block-1 h2,
.block-views-blockaccueil-balados-block-1 h2,
.block-block-contentf2e0f443-1339-4609-94ca-7117de06d7aa h2 {
  text-transform: uppercase;
}
/* accueil - sections */
.accueil_balados,
.accueil_articles_web {
  padding-top: 150px;
  padding-bottom: 50px;
}
.block-block-contentf2e0f443-1339-4609-94ca-7117de06d7aa {
  clear: both;
}
.block-block-contentf2e0f443-1339-4609-94ca-7117de06d7aa h2 {
  text-transform: uppercase;
  padding-top: 80px;
}




/**
* ACCUEIL carousel numéro en cours - Titre vedette
**

/* temp */
.flexslider .slides > li {
  display: block;
}
.flexslider {
  border: none;
}
.view-slider-accueil .flex-active-slide {
  position:relative;
}
/* flexslider carousel - header */
.view-slider-accueil  .flex-active-slide .flex-caption,
.bandeau_infos {
  font-family: pb-bold;
  font-size: 80px;
  line-height: 1.25;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 40%;
  overflow: hidden;
}

/**
* appliquer PUBLICATIONS
*/
.col-sm-12 .bandeau {
  position:relative;
}
/* flexslider carousel - header - V1 */
.bandeau_infos {
  color: #fff;
}
.bandeau_titre {
}
.bandeau_publication {
  font-size: 20px;
}
.bandeau_periode_publication {
}
.bandeau_date_publication {
}

/* Image plein écran */
/*.image-style-flexslider-full {
  height: 100vh !important;
  width: 100% !important;
}
.views-field-field-media-image {
  max-height: 100vh !important;
  overflow:hidden;
}*/



/**
* Accueil balados
**/

.view-accueil-balados .item-list li {
  list-style: none;
}
.relation-film-content .name a {
    font-family: "Playfair Display",serif;
    color: #000;
    font-size: 1.875em;
    line-height: 30px;
    font-weight: 700;
}

.relation-film-content {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 18px;
}

/**
* ACCUEIL ÉDITORIAL
*/
.view-accueil-edito .views-field-title {
  padding-top: 80px;
}


/**
* accueil publications
*/
@media only screen and (min-width: 768px) {
.timeline {
    height: 610px;
}
.timeline:before {
    position: absolute;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: "";
    width: 1px;
    left: 7px;
}
}
.timeline {
    overflow: hidden;
    width: 100%;
    padding: 5px 0;
    position: relative;
}
#dates {
    width: 10%;
    height: 600px;
    float: left;
}
#dates li {
    list-style: none;
    width: 150px;
    height: 100px;
    line-height: 100px;/* line-height: 1 si plusieurs lignes */
    position: relative;
    font-size: 0.75em;
    padding-left: 10px;
}
#dates .selected {
    color: #000;
}
#dates a {
    font-family: "pb-bold";
    color: rgba(0,0,0,0.2);
    position: relative;
    letter-spacing: 3px;
    padding-left: 10px;
}
#issues {
   /* width: 90%; */
   width: 80%;
   /* float: left; */
   float: right;
    padding: 70px 0;
    /**/
    height: 400px !important;
}
#issues li {
    list-style: none;
}
.timeline-box {
    position: relative;
    width: 100%;
    padding: 0 50px;
}
#issues li.selected img {
/*    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);*/
}

#issues li img {
  /*  zoom: 1;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    -webkit-transform: scale(0.8,0.8);
    -moz-transform: scale(0.8,0.8);
    -o-transform: scale(0.8,0.8);
    -ms-transform: scale(0.8,0.8);
    transform: scale(0.8,0.8);
    width: 100%;
    height: auto;*/
    clear: both;
}

@media only screen and (min-width: 768px) {
#issues li .date-group {
    top: -45px;
    position: relative;
}
}
#issues li .date-group {
    color: #000;
    font-size: 3.75em;
    text-align: center;
    font-family: "Playfair Display",serif;
    font-weight: 700;
}
@media only screen and (min-width: 768px) {
#issues li .sl-time-desc {
    margin: -30px 20px 20px 20px;
}
}
#issues li .sl-time-desc {
    font-family: "pb-regular";
    text-align: center;
    color: rgba(0,0,0,0.5);
    line-height: 1.6em;
}

/* Accueil FB */
.block-block-contentf2e0f443-1339-4609-94ca-7117de06d7aa,
.block-block-contentf2e0f443-1339-4609-94ca-7117de06d7aa h2 {
  clear:both;
}
.juicer-feed h1.referral,
.juicer-feed h1.referral a {
  display:none;
  margin:0;
}


/**
* Thème initial - Carousel Auteurs sur Cahier
*/
.team-film-item {
  width: 100%;
}
.ms-staff-carousel {
  margin: 25px auto;
  position: relative;
}
.ms-staff-carousel {
  margin: 25px auto;
  position: relative;
}
.master-slider {
  position:relative;
  /*visibility:hidden
  transform: translate3d(0,0,0)*/
}
.ms-staff-carousel .ms-view {
  overflow: visible;
  background-color: transparent;
}
.ms-view {
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  -webkit-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
}
.ms-staff-carousel .ms-view {
  overflow: visible;
  background-color: transparent;
}
team-film-item .ms-slide {
  background: #000;
}
.ms-wk .ms-slide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
ms-slide {
  position: absolute;
  height: 100%;
  -webkit-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  transform: translateZ(0px);
}
.ms-slide-auto-height {
  display: table;
}
.ms-view .ms-slide-container {
  position: relative;
}
.team-film-item .team-film-container {
  position: relative;
}
.team-film-item .team-film-container img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.master-slider img, .ms-slide-bgvideocont video {
/*    max-width: none; */
}
.ms-grabbing-cursor {
    cursor: url(/sites/lq2.aegir8.uqam.ca/themes/LQ/images/grabbing.png),move;
}
.team-content {
  position: absolute;
  color: #fff;
  z-index: 2;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  top: 65%;
}
.team-content .team-name {
  font-family: "Playfair Display",serif;
  font-size: 1.875em;
  line-height: 38px;
}
team-content .team-job {
  font-family: "pb-bold";
  font-size: 0.75em;
  letter-spacing: 1.5px;
  margin: 10px 0 35px 0;
  color: #ffffff;
}
.team-content .team-social {
  text-align: center;
}
.team-content .team-social span {
    height: 1.563em;
    width: 1.6em;
    display: inline-block;
    background: #4d4d4d;
    border-radius: 50%;
    margin-right: 5px;
}
/* carousel Hover */
.master-slider a, .master-slider a:hover {
    -webkit-transition: none;
    transition: none;
}
.team-film-item .team-film-container:hover .team-content {
    opacity: 1;
    top: 50%;
}
.team-film-item .ms-slide:hover img {
    opacity: 0.5;
}


/**
* Masonry
* 3 classes: .grid-item.high, .grid-item.large, .grid-item
* TODO: appliquer (min-width: 1200px) seulement. Sur les écrans plus petits, toutes les images sont 100% de largeur.
*/

.masonry-grid-galerie {
  .gutter-sizer {
    width: 1%;
  }

  .grid-sizer, .grid-item {
    width: 33.3%;
  }
}

.ac_container.ac_container-fluid {
  max-width: inherit;
}
.ac_container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.ac_element {
  margin-bottom: 0;
}
.ac_masonry-wrapper {
  margin: -5px;
  /*    margin: -2.5px; */
}
/*@media (min-width: 1200px)*/
[data-col-lg="4"].ac_masonry-wrapper .grid-item, [data-col-lg="4"].ac_masonry-wrapper .grid-sizer {
  width: 25%;
}
/* Écrans plus petits:
.ac_masonry-wrapper .grid-item, .ac_masonry-wrapper .grid-sizer {
  width: 100%;
}*/
[data-col-lg="4"].ac_masonry-wrapper .grid-item, [data-col-lg="4"].ac_masonry-wrapper .grid-sizer {
  width: 25%;
}
/*@media (min-width: 1200px)*/
[data-col-lg="4"].ac_masonry-wrapper .grid-item.wide, [data-col-lg="4"].ac_masonry-wrapper .grid-item.large {
  width: 50%;
}
.ac_masonry-wrapper.ac_masonry-grid .grid-item__inner {
  padding-top: 100%;
}
.ac_masonry-wrapper.ac_masonry-grid .grid-item.high .grid-item__inner {
  padding-top: 200%;
}
.ac_masonry-wrapper .grid-item .grid-item__inner, .setting .grid-item .grid-item__inner {
  position: relative;
}
.ac_masonry-wrapper .grid-item .grid-item__inner .grid-item__content-wrapper {
  margin: 5px;
  background-color: #9EC3C3;
}
.ac_masonry-wrapper .grid-item .grid-item__inner .grid-item__content-wrapper, .setting .grid-item .grid-item__inner .grid-item__content-wrapper {
  overflow: hidden;
}
.ac_masonry-wrapper.ac_masonry-grid .grid-item__content-wrapper, .setting.ac_masonry-grid .grid-item__content-wrapper {
  position: absolute;
}
.ac_masonry-wrapper.ac_masonry-grid .grid-item__content-wrapper, .setting.ac_masonry-grid .grid-item__content-wrapper {
  margin: 0 !important;
}
.ac_masonry-wrapper.ac_masonry-grid .grid-item__content-wrapper {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
}
.image-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.ac_page-wrapper img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
.image-cover img {
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* Responsive @media */
/* mobile */
@media (max-width: 460px) {}
/* col-xs // 0-768 */
@media (max-width: 768px) {}
/* col-sm // 768-992 */
@media (min-width: 768px) and (max-width: 992px) {}
/* col-md // 992-1200 */
@media (max-width: 1200px) {}
/* col-lg 1200+ */
@media (min-width: 1200px) {}
/* écrans larges */
@media all and (min-width: 1200px) and (max-width: 9999px) {}


/*responsive grid*/
.responsive-grid {

}
.node--type-collaborateur {
  .views-row-even {
    float: left;
    clear: both;
  }
  .views-row-odd {
    float: right;
    clear: both;
  }
}

/**
* header transparent
*/
.header-transparent,
.path-frontpage .header,
.page-node-type-publication .header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}

.region-header {
    position: relative;
    z-index: 10;
    padding-top: 10px;
}

/**
* Header - Icones
*/
ul.list-social li {
    display: inline;
    padding: 0 10px;
    list-style: none;
}
ul.list-social li a {
    color: rgba(0,0,0,0.5);
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-youtube:before {
    content: "\f167";
}
.fa-instagram:before {
    content: "\f16d";
}
/**
* CART
*/
.cart-block--summary__icon img {
  background-color:#000;
  margin-right: 10px;
}
#block-cart {
  float: right;
  padding-right: 20px;
  padding-left: 10px;
}

.view-auteur-vs-cahier {
  clear: both;
}

/**
* balado _details
*/
.groupe_details {
  padding-bottom: 80px;
  .field {
    width: 16.67%;
    display: inline-block;
    margin-right: -4px;
    text-align: center;
  }
}


/**
* Module Embed
*/
/* Inspiré de QF */
.embedded-entity {
  .media--view-mode-image-embed-demi-largeur,
  .media--view-mode-image-embed-pleine-largeur {
    border-bottom: 4px solid #e3e0db;
    border-top: 4px solid #e3e0db;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 2em;
  }
  .media--view-mode-image-embed-demi-largeur {
    max-width: 50%;
    margin-left: 20px;
    float: right;
  }
  .media--view-mode-image-embed-pleine-largeur {
    max-width: 100%;
    clear: both;
  }
  .field--name-field-media-image,
  .field--name-field-legende {
    display: inline-block;
    /* float: right; dégager la légende des bordures */
  }
  .field--name-field-media-image {
    margin-bottom: 0.5em;
  }
  .field--name-field-legende,
  #cboxTitle p {
    line-height: 1.25;
    font-size: 12px;
    display: inline;
    float: none;
    margin-bottom: 0;
  }
  .img-responsive {}

}

/*
Navigation mobile

Toggle JS actifs:
.menu-olay +- .show
.close-menu +- .show
*/
header .menu-default #primary_nav_wrap {
  margin-top: 0px;
}
.menu-default #primary_nav_wrap {
  float: right;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9";
}
@media only screen and (max-width: 1024px) {
  .toggle-nav {
    display: inline-block;
    position: absolute;
    right: 5px;
    line-height: 60px;
    color: rgba(0,0,0,0.5);
  }
}

.menu-default .close-menu {
  display: none;
  position: fixed;
  z-index: 15;
  top: 40px;
  right: -100%;
  text-align: center;
  color: rgba(255,255,255,0.5);
  font-size: 20px;
  cursor: pointer;
}
.menu-default .close-menu.show {
  display: block;
  right: 230px;
}


.show {
  display: block!important;
}
.menu-olay {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
}
.menu-olay.show {
  display: block;
}

ul.active-menu-default {
  float: right;
  padding-right: 25px;
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  ul.active-menu-default {
    right: -100%;
    top: 0;
    width: 220px;
    background: #fff;
    height: 100vh;
    z-index: 12;
    position: fixed;
    text-align: left;
    padding: 20px 20px 30px 20px;
    overflow-x: hidden;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
  }
  ul.active-menu-default.show {
    right: 0;
  }
}

/* Interférence entre menu mobile overlay et titre */
.fl-title {
  z-index: 9;
}
/* Interférence entre vues EVA et contenu sur Cahier */
.page-node-type-cahier .views-element-container {
  clear:both;
}

/**/
.page-node-type-collaborateur {
  .view-eva {
    /* contenu à droite */
    .views-row-odd { 
      float:right;
      text-align:left;
      width: 50%;
      padding-left: 20px;
      border-left: 1px solid black;
    }
    /* contenu à gauche */
    .views-row-even {
      float: left;
      text-align:right;
      width: 50%;
      padding-right: 20px;
      border-right: 1px solid black;
    }
  }
}



/* Conserver le style d'image mais réduire l'affichage si l'ouvrage est un champ eva sur un article-revue */
.page-node-type-article-revue .team-member-detail-2 img {
  width: 50%;
}

.view-article-vs-cahier {
  .views-field-field-sous-titre {
    font-size: 18px;
  }
  .views-field-field-type-article {
    font-size: 18px;
  }
}

.view-galeries {
  .views-row {
    padding-bottom: 80px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

#flexslider-1 .flex-caption {
  display: none;
}
.paragraph--type--liens-externes a {
  font-size: 22px;
}

/**
* Commerce
*/
.view-catalogue-des-numeros {
  .views-row {
    padding-bottom: 40px;
    &:last-child {
      padding-bottom: 0;
    }
  } 
}
.cart-block--summary__count {
  color: #a7a7a7;
}
#block-formulaireexposeenvironnement-recherche-generalpage-1 {
  margin-left: 20px;
}

/**
* Equipe
*/
.view-liste-equipe {
  margin-top: -40px;
  .views-row {
    padding-bottom: 40px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .fl-title-big {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
/**/

