{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 *
 * views-view-unformatted--film--film-2.html.twig
 */
#}
{% if title %}
	<h3>{{ title }}</h3>
{% endif %}	
<div class="list-film">
	{% set i = 0 %}
	{% for row in rows %}
		{% set i = i + 1 %}
		{% if i == 1 %}
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="padding: 0;">
				<div class="film-item cus-item-4 cus-item-big">
					{{ row.content }}
				</div>
			</div>
		{% else %}
			{% if i == 2 %}
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="padding: 0;">
			{% endif %}
					<div class="film-item cus-item-4 cus-item-small">
						{{ row.content }}
					</div>
			{% if i == 4 %}
				{% set i = 0 %}
				</div>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>