<div class="site">
	{% if page.header %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					{{ page.header }}
				</div>
			</div>
		</div>
	{% endif %}
	<div id="main" class="page-film">
		{{ page.content }}
	</div>
	{% if page.footer %}
	    <footer>
			<div class="footer-landing f-home1">
				{{ page.footer }}
			</div>
		</footer>
	{% endif %}
</div>