{# views/blog/home_blog/views-view-fields--blog--home-blog.html.twig #}
<div class="content-blog-item col-lg-9 col-sm-12">
	<div class="title-blog">
	  <div class="article-cahier-titre"><a href="{{ fields.path.content|render|striptags|trim }}">{{ fields.title.content }}</a></div>
	  <div class="article-cahier-soustitre">{{ fields.field_sous_titre.content }}</div>
      {% for auteur in auteurs %}
        {% set individu = drupal_entity('node', auteur.field_individu.0.target_id) %}
        <div class="article-cahier-auteur">{{ drupal_link(individu['#node'].label, 'node/' ~ individu['#node'].id) }}</div>
      {% endfor %}
	</div>
</div>
