<div class="ms-slide">
	<div class="testimonial-quote">
		<img src="{{ fields.field_testi_thumbnail.content|render|striptags|trim }}" alt="{{ fields.title.content|render|striptags|trim }}" /> 
		<div class="author">{{ fields.title.content }}</div>
		<div class="testimonial-desc">
			<p>{{ fields.field_testi_quote.content }}</p>
		</div>
	</div>
</div>